@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<div>
    <form asp-action="ChangePassword" method="post" class="form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="mb-3">
            <input asp-for="CurrentPassword" type="password" placeholder="Current Password" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <input asp-for="NewPassword" type="password" placeholder="New Password" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <input asp-for="ConfirmPassword" type="password" placeholder="Confirm New Password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="hero-btn hero-btn-primary">Change password</button>
        <a asp-action="Index" asp-controller="Account" class="hero-btn hero-btn-primary">Back</a>
    </form>
</div>
